@media screen and (min-width:340px) and (max-width:560px) {
    .qa_part { 
        width: 100%;
        height: auto;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .qa_part > li {
        width: calc(100% / 3);
        height: 40px;
        border: 1px solid #ccc;
        text-align: center;
        line-height: 40px;
        cursor: pointer;
        box-sizing: border-box;
    }
    .onselect{
        background-color: #bce4fd;
        font-weight: bold;
        color: rgb(46, 114, 141);
    }
    .write_ul {
        width:100%;
        height:auto;
        font-family: 'Noto Sans KR', sans-serif;
        font-size:13px;	
        font-weight:300;
        word-spacing: -2px;
        margin-top: 15px;
        display: inline;
    }
    .write_ul > li {
        width: inherit;
        height:auto;
        text-align: left;
        margin-top: 5px;
        margin-bottom: 5px;
    }
    .write_ul > li:nth-of-type(1) {
    	color: red;
		text-align: left;
		margin-left: 5px;
		font-weight: bold;
		font-size: 15px;
    }
    .fileview {
		margin-left: 5px;
		font-weight: 200;
    }
    .admin_view {
    	color: blue;
		margin-left: 5px;
		font-weight: bold;
		font-size: 15px;
		display: block;
    }
    .btn_del {
    	width: 45px;
    	height: 25px;
    	background-color: black;
    	color:white;
    }
    .w_li {
        width:70%;
        height:30px;
    }
    .w_input1 {
        font-family: 'Noto Sans KR', sans-serif;
        width:98%;
        border:1px solid skyblue;
        height:30px;
        border-radius: 2px;
        text-indent: 5px;
        font-size: 13px;
    }
    .w_input2 {
        font-family: 'Noto Sans KR', sans-serif;
        width:98%;
        border:1px solid skyblue;
        height:150px;
        border-radius: 2px;
        resize: none;
        padding: 5px;
        box-sizing: border-box;
        font-size: 13px;
    }
    .w_bg { 
        background-color: #bce4fd;
        color: black;
    }

    .qa_lists, .qa_lists2 {
        width: 100%;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .qa_lists > li {
        border: 1px solid #ccc;
        text-align: center;
        height: 30px;
        line-height: 30px;
        background-color: #bce4fd;
    }
    .qa_lists > li:nth-of-type(1),.qa_lists2 > li:nth-of-type(1) {
        width: 50%;
    }
    .qa_lists > li:nth-of-type(2),.qa_lists2 > li:nth-of-type(2) {
        width: 15%;
    }
    .qa_lists > li:nth-of-type(3),.qa_lists2 > li:nth-of-type(3) {
        width: 17%;
    }
    .qa_lists > li:nth-of-type(4),.qa_lists2 > li:nth-of-type(4) {
        width: 18%;
    }
    .qa_lists2 > li {
        height: 30px;
        line-height: 30px;
        text-align: center;
    }
    .qa_lists2 > li:nth-of-type(1){
        text-align: left;
    }

}